{% extends 'base.html.twig' %}

{% block title %}Relevés index{% endblock %}

{% block container %}
    <h1>Relevés index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>ReleveBrut</th>
                <th>Tableau</th>
                <th>Visualisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relefe in releves %}
            <tr>
                <td>{{ relefe.id }}</td>
                <td>{{ relefe.date ? relefe.date|date('d/m/Y') : '' }}</td>
                <td>{{ relefe.lieu.nom }}</td>
                <td>{{ relefe.releveBrut }}</td>
                <td>Text</td>
                <td>{{ include('releves/_visualisation.html.twig', {'id': relefe.id}) }}</td>
                <td>
                    <a href="{{ path('app_releves_edit', {'id': relefe.id}) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ path('app_releves_delete', {'id': relefe.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_releves_new') }}" class="btn btn-success">Create new</a>
    


{% endblock %}
