{% extends 'base.html.twig' %}

{% block title %}Herbier Symfony | Mathéo{% endblock %}

{% block styles %}
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table th,
        .table td {
            padding: 8px;
            border: 1px solid #ddd;
        }

        .btn {
            display: inline-block;
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            border-radius: 4px;
        }

        .btn-primary {
            background-color: #007bff;
        }

        .btn-success {
            background-color: #28a745;
        }
    </style>
{% endblock %}

{% block container %}
    <h1>Relevés index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>ReleveBrut</th>
                <th>Tableau</th>
                <th>Visualisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relefe in releves %}
            <tr>
                <td>{{ relefe.id }}</td>
                <td>{{ relefe.date ? relefe.date|date('d/m/Y') : '' }}</td>
                <td>{{ relefe.lieu.nom }}</td>
                <td>{{ relefe.releveBrut }}</td>
                <td>{% include 'releves/_tableau.html.twig' with {'id': relefe.id} %}</td>
                <td>{% include 'releves/_visualisation.html.twig' with {'id': relefe.id} %}</td>
                <td>
                    <a href="{{ path('app_releves_edit', {'id': relefe.id}) }}" class="btn btn-primary">Edit</a>
                    {{ include('releves/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_releves_new') }}" class="btn btn-success">Create new</a>
    <a href="{{ path('app_lieu_index') }}" class="btn btn-primary">Retour à la liste des lieux</a>
    <div>{{ include('releves/new.html.twig')}}</div>
    
{% endblock %}

